.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group 
      = @group.name
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member
          - @group.users.each do |user|
            %li= user.name
    .main-header__edit-btn
      = link_to 'Edit', edit_group_path(@group.id), class: "btn"
  .messages
    = render partial: 'messages/message', collection: @messages, style: "overflow: visible scroll;"

  .form
    = form_for [@group, @message], html: {id: 'message-form'}  do |f|
      .input-box
        = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = fa_icon "image"
          = f.file_field :image, type: 'file', class: "upload"
      = f.submit 'Send', class: 'form__submit'
       