.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.list
          = link_to new_group_path do
            %i.fa.fa-edit.icon
        %li.list
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog.icon


  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
